<h1>All Requests </h1>
<div>
<h2> Requests I have made: </h2> 
<% @requests.each do |request| %>
  <%= request.space_id %> <br> <br>
  <%= request.date %> 
    <% if request.confirmed == false %>
  <p> Not confirmed </p>
    <% else %>
  <p> Booking confirmed </p>
  <% end %>
  <% end %>
</div>

<div>
<br>
<h2> Requests I have received: </h2>
<% @requests.each do |request| %>
  <%= request.space_id%> <br> <br>
  <%= request.date %>
    <% if request.confirmed == false %>
  <p> Not confirmed </p>
    <% else %>
  <p> Booking confirmed </p>
  <% end %>
<% end %>
</div>

</body>
</html>