<html>
  <head>
  <title>List a Space</title>
  </head>
  <header>
    <a href="/spaces">All Spaces</a>
    <a href="/requests">Requests</a>
    <a href="/sign_out">Sign Out</a>
  </header>
  <body>
    <h1>List a Space</h1>
    <a class="link" href="/sign_out">Logout</a>
    <form action="/create_space" method="POST">
      <label for="name">Name</label><br>
      <input type="text" name="name" id="name" required><br><br>

      <label for="description">Description</label><br>
      <input type="text" name="description" id="description" required><br><br>

      <label for="price">Price per Night (£)</label><br>
      <input type="number" name="price" id="price" required><br><br>

      <label for="available_from">Available from (DD/MM/YY)</label><br>
      <input type="date" name="available_from" id="available_from" required><br><br>

      <label for="available_to">Available to (DD/MM/YY)</label><br>
      <input type="date" name="available_to" id="available_to" required><br><br>

      <input type="submit" value="List Space">
    </form>
  </body>
</html>