<html>
<head></head>
<body>
  <h1>Welcome to MakersBnb</h1>
  <p>
  We Operate an online marketplace for lodging, primarily homestays for vacation rentals, and tourist activities, all around the world!
  </p>
  
</body>
</html>