<html>
<head></head>
<body>
  <h1>Welcome to MakersBnb</h1>
  <p>
  We Operate an online marketplace for lodging, primarily homestays for vacation rentals, and tourist activities, all around the world!
  </p>
  <h2> Please create an account to find your dream space </h2>

  <form action="/sign_up" method="POST">
  Email address: <input type="text" name="email"> <br> <br>
  Password: <input type="text" name="password"> <br> <br>

  <input type="submit" value="Create my account">
  </form>
  <h4> Already have an account? Please <a href="/sign_in">Sign In</a> </h2>
</body>
</html>