<html>
<head></head>
<body>
<h1> Requests For Your Space: <%= @space.name %> </h1> 
  <p> Date Requested: <%= @request.date %> </p>

  <% if @request.confirmed == false %>
  <p> Not confirmed </p>
     <% else %>
  <p> Booking confirmed </p>
   <% end %>

<form action="/requested/:id" method="POST">
  <input type="submit" value="Confirm this request">
</form>
 
<form action="<%= '/requested/' + @request.id.to_s%>" method="POST">
  <a href="<%= '/spaces/' + @space.id.to_s%>">
  <input type="submit" value="Deny this request">
</form>


</body>
</html>