<!DOCTYPE html>
<html>
  <head>
    <title>makersbnb</title>
  </head>
  <body>
    <section class="form">
      <form action="/sign_in" method="POST">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter Email" aria-label="Recipient's username" aria-describedby="basic-addon2" name="email">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label"></label>
          <input type="password" class="form" id="pw" placeholder=" password" name="password">
        </div>
        <button value="submit" type="submit" class="btn">Submit</button>
      </form>
      </section>
  </body>
</html>

